<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="{{api_host}}{{data.logo}}">
    <title>{{data.name}}</title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styling plus plugins -->
    <link href="/build/css/custom.min.css" rel="stylesheet">

    {{{_sections.style}}}
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Jaya Prima</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    {{>sidebar_profil}}
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    {{>sidebar_menu}}
                    <!-- /sidebar menu -->

                    <!-- /menu footer buttons -->
                    {{>sidebar_footer_menu}}
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            {{>top_navigation}}
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main" style="min-height: 3778.67px;">
                <div class="">
                    <div class="page-title">
                        <div class="title_left nav-header">

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    {{{body}}}
                </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            {{>footer}}
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/build/js/custom.min.js"></script>
    {{{_sections.script}}}
    <script>
        $(document).ready(function () {
            var newDiv = $("<h3></h3>");
            $.each(window.location.pathname.split("/"), function (index, value) {
                if (value.length > 0) {
                    newDiv.append(toCamelCase(value))
                    if (index < window.location.pathname.split("/").length - 1) {
                        newDiv.append(' <span class="glyphicon glyphicon-menu-right" style="font-size: smaller;Wmargin-right: 5px;"></span>');
                    }
                }
            });
            $('.nav-header').append(newDiv);
        });

        function toCamelCase(str) {
            return str.split('_').map(function (word, index) {
                return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();
            }).join(' ');
        }
    </script>
</body>

</html>